@import url("./platform.css");

Page {
  font-size: 15;
}

ActionBar {
  background-color: #3C5AFD;
  color: black;
}
TextField {
  padding: 10;
  font-size: 13;
}
.line-through {
  text-decoration: line-through;
}
